{{ 'section-image-with-text.min.css' | asset_url | stylesheet_tag }}



<section class="homepage-sections-wrapper  text-column-section mtn-with-img">
    <img class="mtn"  src="{{ section.settings.mtn | img_url: '1000x1000' }}"
    loading="lazy"}} style="background-color:transparent;" >
    <div class="container">
    	<div class="row">

        <div class="index-section col-md-12">
          <div class="page-width feature-row homepage-featured-content">

          	<div class="feature-row__container">
              <div >
            
                            <div class="column-groups">
                               <img style="width:95%;" src="https://cdn.shopify.com/s/files/1/0552/0546/2188/files/MIW_timeline-min.gif?v=1664250940" >
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <style>


    #shopify-section-{{ section.id }}{
      background-color:transparent!important;
    }

    #shopify-section-{{ section.id }} .mtn-with-img .mtn{
        top: 11em;
        height:auto;
    }

    .mtn-with-img{
        padding-top:0;
    }
   
  </style>

{% schema %}
{
    "name": "Mountain with Image",
    "class": "homepage-section--text-and-image-wrapper",
    "settings": [
    {
        "type": "color",
        "id": "text-color",
        "label": "Text Color",
        "default": "#FFF"
      },
        {
            "type": "image_picker",
            "id": "mtn",
            "label": "Mountain Background"
            
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Main Image"
        }
       

      
      ],
    "presets": [
        {
            "name": "Mountain with Image",
            "category": "Image"
        }
    ]
}
{% endschema %}
