/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/

.sold-out-badge, .sold-out-button{
    background-color:#d19951 !important;
    color:black !important;
}

body{
    overflow-x:hidden;
}


.firstimgdiv {
    position: absolute;
    width: 13.4em;
    top: 4.8em;
    left: 5em;

}

.product-description-wrapper,.product-description-wrapper span, .product-description-wrapper p, .description-block__content{
    font-weight: 500 !important;
}

.product-info-wrapper .product-page--submit-action button, .gfqv-product-form #gfqv-btn{
    background:#4f704e !important;
    font-family: var(--font-family-regular) !important;
}


.quick-add-button, .page-title--2022-featured-holiday-products .spf-product-card button.spf-product__form-btn-addtocart{
    background: #4f704e !important;
    box-shadow: none !important;
}

#shopify-section-header #top-search-wrapper.expanded{
    /* visibility: hidden; */
}
.popup-container{
    background: rgba(53, 123, 142, 1) !important;
} 

.popup-container #newsletter_submit{
    margin: 0 auto;
    width: auto !important;
    margin-top: 1em;
}

.notification-bar__message p{
    font-size:1.1em;
}

/* .bxp-bldr-body .tawk-bubble-container,.bxp-bldr-body  .tawk-min-container,.bxp-bldr-body  .tawk-button,.bxp-bldr-body .widget-visible iframe{
    height: 0px !important;;
    width: 0px !important;;
    overflow: hidden !important;
} */

.basket{
    overflow: overlay !important;
    width: 9.2px !important;
    /* position: absolute;
    top: 4.3em;
    right: 7em; */
    margin-bottom: 9px;
}

.gl-card-title a, .gl-list__title a{
    color:black !important;
}

.bxp-bldr-item input[type=checkbox]:not(old):checked+label, .bxp-bldr-item input[type=radio]:not(old):checked+label, .bxp-bldr-item input[type=checkbox]:not(old):checked+span+label, .bxp-bldr-item input[type=radio]:not(old):checked+span+label{
    border: 1px solid rgb(79 112 78) !important;
}

.header--supporting-text {
    padding-left: 1.4rem;
}

.page-title--2022-featured-holiday-products .container--collection-page{
    margin-top:10em;
}

main section:last-child{
    
    /* background-color:#B8CAB7 !important;
    width:100%; */
}

.ui-datepicker{
    width:25em;
}

.article-image__container{
    display:none !important;
}


/* navigation & header */

.mega-menu-block__heading:hover{
    color:white !important;
    opacity:1;
}

.dropdown-submenu__linklist li a:hover{
    color:white !important;
}

.nav>li.mega-menu .dropdown-menu .mega-menu-block>.dropdown-submenu.site-nav--active .mega-menu-block__heading, .dropdown-menu .site-nav--active{
    border-left:white solid 2px !important;
}

.dropdown .mega-menu--dropdown-wrapper .dropdown-submenu{
    border-left:none !important;
}

.dropdown-menu .h4:hover{
    color:white;
}

.dropdown-submenu__link:hover{
    color:bisque;
}

.mobile-menu a{
    text-transform:capitalize !important;
}

.nav>li.mega-menu .dropdown-menu, .nav>li.mega-menu .dropdown-menu .mega-menu-block{
    background: #4f704e;
}

.dropdown-menu .h4{
    text-decoration:underline;
    font-weight:600;
}

.dropdown-menu--mega a, .dropdown-menu--mega li{
    color:white;
}

.header-content--top-bar .header-link{
    font-family: var(--font-family-bold);
}

.header-row .header-link, .header-row .nav-label, .dropdown-menu .dropdown-submenu__link{
    font-family: var(--font-family-body);
    font-weight:500;
}

.mega-menu-block .h4{
    font-family: var(--font-family-body);
    font-weight:900;
}

header span{
    font-size:1.2em !important;
}

.bxp-modal__title{
    font-size:1.25em !important;
}

.notification-bar__message p{
    font-family: var(--font-family-bold);
    text-transform:uppercase;
}

.header-wrapper .header-content{
    padding-top:0;
}

.header-wrapper .header-content--top-bar{
    padding-top:.8em;
}

.nav>.site-nav--active .mega-menu--dropdown-wrapper>a, .nav>.site-nav--active>a {
    border-bottom: solid 2px white;
}


.bxp-modal__container {
    background-color: rgb(79 111 78 / 92%) !important;
}

.bxp-bldr-col-md-6{
    display: flex;
    flex-direction: column;

}


.bxp-bldr-col-md-6 button{
    width: 25%;
    margin: 0 auto;
    background:black;

}
/* button styles */

.btn, .timeline-section p, .hero__text p{
    font-family: var(--font-family-regular) !important;
    
}

.col-mtn {
    z-index:1;
}

.about-sides .feature-row--image-right img{
    max-width: 90%;
    float: right;
}


/* product page */

.spr-container{
    border:none !important;
    margin: 4em 0px;
}



/* slideshow section */



.slides img{
    height:80vh;
}

.slider-subheader{
    font-weight: 500 !important;
    font-size: 1.35em !important;
    margin-top:.9em !important;
}


/* image with text block section */

.subheading-new , .crafter-font, .grid-title{
    font-family:var(--font-family-regular);
    text-transform:inherit;
    font-size: 1.05em;
}

.grid-title{
    width:75%
}

.grid-text p{
    font-weight:500;
    font-size:.92em;
}

.type-subheading {
    text-transform:inherit;
}


/* blog section homepage */

.home-blog-excerpt{
    padding:0 1.2em;
}

.home-blog-excerpt, .blog-title-wrapper h3, .horizontal-align--left{
    text-align:center;
}

.blog-title-wrapper a{
    font-family:var(--font-family-regular);
    text-transform:inherit;
    font-size: 1.2em;
}

.blog-title-wrapper{
    margin-top:2.4em;
}

/* logo section */

.logo-bar{
    display: flex;
    justify-content: space-between;
}    

.logo-body{
    width:100%;
    margin:0 auto;
}

.logo-portion{
    max-width:22em;
}

.title-bar h3.typography--padding-bottom{
    width: 96%;
    margin: 0 auto;
}

.featured-logos .title-bar h2{
padding-top:2em  !important;
}


/* image grid section */
.image-grid p{
    text-align:center;
}

.grid-title{
    margin-top:1.5em;
}


/* footer */

.sm-icons li{
    width:fit-content;
}

.footer .rte, .footer .type-subheading{
font-size:.93em !important;
}
.footer__block-type--menu{
    display: flex;
    justify-content: center;
}

.footer__block-type--logo h3, .footer__block-type--logo p{
    text-align:center;
}

.footer .image-bar__content{
    margin: 0 auto;
    margin-bottom:1.5em;
}



/* collection picker */

.flickity-prev-next-button {
    top: 36% !important;
}

.row {
    
    margin-right: -55px;
    margin-left: -55px;
}

.homepage-sections-wrapper {
    padding: 80px 0 !important;
}


@media only screen and (min-width: 768px) {
    .feature-row__text--inner{
        margin-right: 5em;
    }

}



/* newsletter block */

.newsletter_form button{
    background: #057C90;
}

#newsletter_section_form div{
    align-items: baseline;
}

.newsletter__item{
    margin: 0 auto;
}

.image-text-block--wrapper{
    position:relative;
}

.credit{
    position: absolute;
    bottom: 2.5em;
    right: 4em;
    width: 20em;
    text-align: center;
    color: white;
    z-index: 999;
}

.bottom-line{
    bottom: 1em;
}

/* image with text section */

.feature-row__image{
    position:relative;
}

.img-logo{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 75%);
    width: 4em;
}
.feature-row__image{
    height:27em;
}



/* instagram feed */

#insta-feed{
padding: 3em 0;
}



#insta-feed h2 {
    margin-bottom: 4em !important;
}

.instafeed-container img{
    border:7.5px solid white;
    border-bottom:15px solid white;
    border-top:15px solid white;
    
}

#insta-feed a:first-child img{
    border-left:15px solid white !important;
}

.cart-below{
    width: 67%;
    margin: 0 auto;
    padding-bottom: 4em;
}

/* events calendar */

.tscBrand{
    display:none !important;
}

.d-inline{
    font-size:17px;
}

/* image column section */

.text-image-column .btn{
    margin-top:3em;
}

.image-columns .feature-row{
    flex-direction: column-reverse;
}

.image-columns .feature-row__text--inner, .image-columns h2{
    margin: 0 auto;
    text-align: center;
}


.flickity-prev-next-button.previous{
    left:-50px !important;
  }
  .flickity-prev-next-button.next{
    right:-50px !important;
  }


  .acerill-custom-form{
    margin: 6em 0;
  }
  /* text column section */
.column-groups{
    display:flex;
    justify-content: space-evenly;
}

.text-column-section{
    position:relative;
}


.feature-row__text-column{
    display:flex;
    justify-content:center;
}

.feature-row__text-column .feature-row__text--inner{
    margin: 0 auto;
}

.column-groups p{
    text-align:center;
}

.text-column-section .mtn{
    /* top: -11em;
    height: 46em; */
    top: -3em;
    height: 100%;

}

.blog--read-more{
    margin-top:2em;
}


.blog--read-more a{
    font-weight: 500;
}


 .con-title{
    
        font-size: var(--heading-font-size);
        line-height: var(--heading-line-height);
        text-transform: var(--header-font-transform);
        letter-spacing: var(--header-letter-spacing); 
 }

.feature-row--image-top{
    flex-direction: column;
}


/* contact */

#contact-form{
    margin-bottom:5em;
}


/* image text sides */

.about-sides .feature-row {
    align-items: flex-start !important;
}


.about-sides .feature-row__text--inner {
    margin-right: 1.5em !important;
}

  /* footer */

  .footer__block-wrapper .sm-icons svg {
    fill: white;
}
footer{
    position: relative;
    margin-top: 11em;
}

  .mtn{
    position: absolute;
    top: -10em;
    /* background-color:#B8CAB7; */
    left:-1em;
    /* min-width:130vw; */
  }

#shopify-section-template--15844025499820__166478462299a1dcae,#shopify-section-template--15844123082924__166357436128577abc,#shopify-section-template--15906657763500__166357385892c100a9,#shopify-section-template--15844025434284__16637326789eb4517a, .page-title--404-not-found main,#challenge main,#create-account main, .page-title--account #main-body,#shopify-section-template--15844025335980__166357436128577abc, #shopify-section-template--15852022464684__16637423885d172095, #shopify-section-template--15844023566508__166357385892c100a9,#shopify-section-template--15850343334060__16637423885d172095,#shopify-section-template--15844122755244__166357385892c100a9,#shopify-section-template--15844025368748__16635600351e723d9b, #shopify-section-footer, #shopify-section-template--15844122820780__16635600351e723d9b, #shopify-section-template--15844123213996__16637326789eb4517a{
    /* background-color:#B8CAB7 !important; */
  }

  #insta-feed{
    margin-top:0 !important;
    padding: 5em 0 !important;
  }


  /* account */

  #create-customer h2{
    margin-top:1.5em;
  }

  #customer-accounts #add_address input, #customer-accounts #login_email input, #customer-accounts #login_password input, #add_address input, #add_address select, #add_address select[id^=address_country_], #login_email input, #login_email select, #login_email select[id^=address_country_], #login_password input, #login_password select, #login_password select[id^=address_country_], #recover-password #recover_email input, #recover-password #recover_email select, #recover-password #recover_email select[id^=address_country_], .edit_address input, .edit_address select, .edit_address select[id^=address_country_]{
    background:white;
  }


  /* announcement bar */

  .notification-bar__message{
    width:fit-content !important;
  }

  .notification-bar__message img{
    height:12px;
    width:15px;
  }


.feature-row--image-right{
    align-items: flex-start;
}


#shopify-section-template--15915512692908__16649469091654578d{
    width:100vw;
}



.template-collection .text-image-column .feature-row__text{
    z-index:998 !important;
        }
    
.dropdown-menu{
    z-index:999 !important;
}

/* collection page */

.collection-filtering-section{
    margin-top:3em;
}

.product-grid{
    margin:0em !important;
}

.indiv-product-title-text, .bxp-building h3{
    font-family: var(--font-family-regular);
}

.indiv-product img {

    height: 25em;
    
}
    
.indiv-product__image-wrapper img{
    object-fit: contain;
}

    /* box builder */

    .cart-free-shipping-encouragement{
background:#057C90 !important;

    }

    .cart-free-shipping-encouragement .cart-free-shipping-encouragement__bar--progress{
        background:transparent !important;
    }

    .cart-free-shipping-encouragement p{
        
        color:white !important;
            }

    #cart_submit, .tdf_input_form button, .bxp-bldr-item_price, #bxp-bldr-bottom-wizard button, .bxp-reset, .bldr-dark-btn span, #bxp-cart-toast, .bxp-thumbnail-remove{
        background: rgb(79 112 78) !important;
    }

    #bxp-bldr-price_total h3{
        color:black !important;
    }

    .bxp-bldr-backward, #bxp-cart-toast{
        color:white !important;
    }

    .article--background-image{
        height: 17em;
    }

    .blog--read-more{
        text-align: center;
    }

    .blog--read-more a{
        background: white;
        padding: 0.7em 1em;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 1.5em;
    }

/* tablet */
@media only screen and (min-width: 796px) and (max-width: 1250px){

    .slides img {
        height: 35vh;
    }

    .flickity-prev-next-button.previous {
        left: -15px !important;
    }

    .flickity-prev-next-button.next {
        right: -15px !important;
    }

}

footer .mtn{
    height: 29em;
}

/* join our team section */

#theapplicantmanager .description{
    display:none; 
}

#theapplicantmanager .title{
    font-size:1em;
    padding:5px 0 !important;
}

#theapplicantmanager{
    margin-top:1.5em;
}

.footer__block-type--text strong{
    font-weight: 800;
    font-size: 1.035em !important;
}

.mobile-menu{
    background:#4f704e !important;
}

.indiv-product-wrapper, .collection-filters button{
    /* z-index:999; */
}

.shopify-policy__container{
    max-width:1200px !important;
}

.shopify-policy__container h2, .shopify-policy__body h1, .article__entry-content h2{
    font-size: 1.1em;
}

.shopify-policy__title h1{
    text-transform: uppercase;
}

.spr-header-title{
    font-size: 1.25rem !important;
}

.grid--blog{
            
    display: flex;
    justify-content: center !important;
  
}

/* desktop */


/* @media only screen and (min-width: 798px){ */
    @media only screen and (min-width: 1098px){

        footer .image-bar__content div{
            width: 2.7em;
        }

        .product-description-wrapper{
            margin-left:0 !important;
        }

        .template-search .collection-filters__item{
            justify-self: end !important;
        }

       .template-search .facets__form-inner{
            width: 96vw;
        }

       

        .mobile-only{
            display: none;
        }

        .search--result-group article{
            width: 34em;
            margin-left: 0;
        }

    .product-description-wrapper{
        padding-top:14px;
        margin-left: 0px;
        margin-right: 9px;
    
    }

    .mtn{
      
        min-width:130vw;
      }

    #footer-payment-methods{
        padding: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

    }

    .footer-bottom{
        margin-top: 7em;
    }


    .footer-bottom__copyright{
        position: absolute;
    left: 3.7%;
    }
   

    .container--product-page{
        margin: 0.5em 3.5em;
    }

    .mobile{
        display:none;
    }

    .full-wdth{
        padding-right: 16px;
        padding-left: 16px;
    }

    .text-top{
        width: 36em;
    }

    .nav-bar__top-nav a{
        text-transform:uppercase !important;
    }

    .article-image img{
        height: 16em;
        object-fit: cover;
    }


    .overlay-contain{
        width:100%;
    }

    .text-top{
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .overlay-sub{
        font-size:1.8em !important;
        font-family:var(--font-family-regular) !important;
        margin-top:.7em !important;
        
    }
  
    .overlay-contain .title-bar{
        width:auto;
    }

.blog__post-container{
    padding: 0em 0 4em;
    margin-top: 0;
}
   

    .footer__block-type--menu:last-child{
        margin-top: 3.83em;
    }

.join-team  .homepage-image-text-block--left{
    left: 7em !important;
    width: 65% !important;
    
}

.join-team .image-text-block-row__text-container{
    padding:4em 3em !important;
}


.join-team  .homepage-image-text-block--right{
    right: 7em !important;
    width: 65% !important;
    
}


}

.pagination .current, .pagination a{
    font-size:1.5em !important;
}

.newsletter_form button{
    margin: 0 auto !important;
}

.newsletter_form div{
    padding: 0px 0 20px 0;
}

/* mobile */

/* @media only screen and (max-width:797px){ */
    @media only screen and (max-width:1097px){

        #newsletter-wrapper{
            flex-direction: column;
        }

        .popup-container #newsletter_text{
            margin-bottom:8px;
        }

        .popup-container .popup__text-wrapper--no-image {
            
            width: 85% !important;
            margin: 0 auto;
        }

.bxp-bldr-bottom-wizard{
    width:102vw !important;
}

button.bxp-bldr-backward:before{
    left: 7px !important;
}

.bxp-bldr-float-right{
    position: absolute !important;
    right: 33px !important;
    flex-direction: row;
    display: flex;
    flex-flow: nowrap;
}

button.bxp-bldr-backward{
    margin-right: 5px;
}

        .button.bxp-bldr-submit, button.bxp-bldr-backward, button.bxp-bldr-forward{
            min-width: 65px !important;
            /* width: fit-content !important; */
            /* padding: 10px !important; */
        }

        .bxp-bldr-body .tawk-mobile{
            display:none !important;
        }

        .bxp-owl-dots{
            
                height: 2.3em !important;
                overflow: hidden !important;
        }

        .bxp-box-list{
            padding: 0 !important;
        }

        .bxp-bldr-qty-up, .bxp-bldr-qty-down{
            width:8px !important;
        }

        .bxp-bldr-item label .bxp-bldr-item_price{
            padding:6px !important;
        }

        #tdf_discount_widget{
            margin-bottom:3em;
        }

        .checkout-add-note{
            width:100vw !important;
        }

        .popup__text-wrapper--no-image{
            padding:4em !important;
        }
     

        .desk-only{
            display: none;
        }

        .slide-menu .header-icon{
            margin-right: 15px;
        }

        .basket {
            overflow: overlay!important;
        }


        .text-block-slideshow .swiper-slide .text-slide{
            position: inherit !important;
            top: 8em !important;
            margin-left: 0 !important;
        }

        .text-block-slideshow .slider-pauseplay{
            display:none !important;
        }

        .text-block-slideshow  .slider-subheader{
            line-height: 28px;
        }

        .text-block-slideshow .slides img{
           height:19em !important;
        }

        .basket{
            margin-right: 27px;
        
        }

  

    .below{
        margin-left:auto;
        text-align:center !important;
    }

#checkout-buttons, .below, .delivery-container, .cart-below{
    width: 80% !important;
    margin: 0 auto !important;
}

    .slider-caption--text p{
        font-size:1.2em !important;
    }

    .below input{
        margin: 0 auto !important;
        text-align:center !important;
    }

    #create-customer form, #account form{
        width: 83vw;
        padding-top: 2em;
        margin: 0 auto;
    
    }

    .page-title--2022-featured-holiday-products .text-image-column .mtn {
        /* top: -18.5em!important; */
    }

    .blog-home .article--background-image{
        width:86vw;
        margin: 0 auto;
    }

    .img-logo{
        transform: translate(-50%, 49%);
    }

    #shopify-section-footer{
        overflow:hidden;
    }

    .collection-wrapper:not(.main-search-wrapper)>section+div {
        flex: auto !important;
    }

    .product-description-wrapper{
        padding-top:20px !important;
    }

    .spr-container {
        border: none !important;
        margin: 0em 0em 3em 0em !important;
    }

    .entry-content{
        width: 78vw;
        margin: 0 auto;
        padding-bottom: 3em;
    }

    .blog-title-wrapper{
        width: 80vw;
        margin: 0 auto;
        margin-top: 2.4em !important;

    }

    .hero--large{
        height:310px !important;
    }

    .hero--x-large{
        height: 700px!important;
    }

    .join-team  .image-text-block--wrapper img{
        height: 346px !important;
        object-fit: cover !important;
        object-position: 69%;
    
    }

    .secondarydiv{
        display: none;
    }

    .view-all-link{
        text-align: center;
        margin-top: 2em;
        text-decoration: underline;
        font-size: 1.2em;
    }

    .lists{
        flex-direction: column;
    }

    .slider-caption, .newsletter-block-text {
        position: absolute !important;
        top: 50%  !important;
  transform: translate(-50%, -50%) !important;
        z-index: 999;
        width: 90vw !important;
        margin: 0 auto !important;
        left:50% !important;
    }


    .feature-row__text{
        margin: 0 auto;
    }

    .text-image-column .mtn{
        /* top: -11.5em !important; */
        top: -3.5em !important;
        max-width: 107vw;
    }

    .hero--medium {
        height: 320px !important;
    }

    .image-with-text-home {
        padding-bottom: 4em !important;
        padding-top: 4em !important;
    }

    .collection-list-scroll .title-bar h3.typography--padding-bottom {
        width: 86% !important;
        margin: 0 auto;
    }


    .desktop{
        display:none;
    }


   #insta-feed h2{
    width: 80%;
    margin: 0 auto;
   }

    .container--product-page .row{
        margin:0;
    }

    .indiv-product img {
        height: 15em;
        object-fit: contain;
    }

    .article-image img {

    width: 70%;
    margin: 0 auto;
    height: 17em;
    object-fit: cover;
}

    .text-image-column .mtn{
        top: -11.5em;
    }


.about-sides .feature-row--image-right img{
    max-width: 100%;
    float: inherit;
}

    #col-main h3{
        width:85% !important;
    }

    .dis p {
        width:65%;
        margin: 0 auto;
        margin-bottom:3em;
    }

    #contact-form .row{
        margin-right:4em;
        margin-left:4em;
    }



.text-column-section .mtn {
    top: -12em;
}

    .text-image-column .feature-row{
        display:flex;
    }

   footer .mtn {
       
        top: -6em;
    }

    .homepage-sections-wrapper {
        padding: 50px 34px 50px 34px !important;
    
    }

    #newsletter_section_form div{
        flex-direction:column;
        align-items: center;
    } 

    #newsletter_section_form input{
        width:13em !important;
        margin-top:15px;
    }

    #newsletter_section_form button{
        width:auto !important;
    }


  

   
  


    .swiper-slide div{
        position:relative;
    }
    .slides img {
        height: 40em;
    }

    .carousel-text-block  .slides img {
        /* height: 22em !important; */
    }

    .flickity-prev-next-button.next {
        right: -30px !important;
    }

    .flickity-prev-next-button.previous {
        left: -30px !important;
    }

    .title-bar h3.typography--padding-bottom {
        width: 65%;
        
    }

    .homepage-collection-grid-inner{
        width: 19em;
    margin: 0 auto;

    }

    .indiv-collection-grid-homepage{
        margin:3em;
    }

    .image-with-text-home, .blog-home{
        padding:6em 3em !important;
    }

    .home-blog-excerpt{
        padding:0em  !important;
    }

    #insta-feed{
        padding-bottom:0 !important;
    }


    .footer .image-bar__content{
        padding-bottom:3em;
    }

    .image-with-text-home .feature-row__text--inner{
        padding-top:3em;
    }

    .image-with-text-home h2, .image-with-text-home p{
        text-align:center;
       
    }

    .logo-bar{
        flex-direction: column;
        align-items: center;
    }

    .logo-body {
        width: 90%;
    }

    .logo-portion{
        margin-bottom:5em;
    }

    .logo-btn{
        margin-top:1em !important;
    }

    .title-bar h3.typography--padding-bottom {
        width: 97%;
    }


    .footer img{
        width:7em;
    }

    .footer p, .footer h3 , .footer h2, .footer a,  .footer li{
        text-align:center;
    }

    .footer .sm-icons{
        justify-content: center;
    }

    .footer .sm-icons a{
        margin: 0 auto !important;
    }

    .footer__block-wrapper .sm-icons svg {
        fill: white;
    }

    .footer .container-xl .row .col-sm-12:nth-child(1){
        order:2;

    }
    .footer .container-xl .row .col-sm-12:nth-child(2){
        order:5;
        
    }
    .footer .container-xl .row .col-sm-12:nth-child(3){
        order:1;
    }
    .footer .container-xl .row .col-sm-12:nth-child(4){
        order:3;
    }
    .footer .container-xl .row .col-sm-12:nth-child(5){
        order:4;
    }

    #shopify-section-footer footer button{
        color:white !important;
    }

    .footer__block-type--menu .footer__mobile-menu-expandable .footer__mobile-menu-toggle:after{
        border-color:white !important;
    }

    .footer p{
        padding: 0 0em !important;
    }

    #shopify-section-footer footer{
        padding-top:5em !important;
    }

    .mtn{
        width:auto !important;
    }

    .left-logo{
        left:7% !important;
    }

    .right-logo{
        right:8% !important;
    }

    .mobile-header--wrapper .mobile-side-column .header-link{
        width:0;
    }


    li .mobile-menu-link{
    font-family: zen-maru-gothic,sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;

    }

 .homepage-section--logo-bar-wrapper .featured-logos{
    margin-bottom: -13em;
  }

  .column-groups{
    flex-direction: column;
    width:85vw;
    margin: 0 auto;
  }

  .rte{
    width:78vw;
    margin: 0 auto;
  }

  .text-column-section .mtn {
    /* top: -5em;
    height: 57em; */
    top: -4em !important;
    height: auto;
    width: 110vw !important;
    
    /* left: -7em; */
}

.text-image-column .featured-row__subtext{
    width: 90% !important;
}

.feature-row__image {
    height: auto;
}

.feature-row__image img {
    max-width: 76%;
    margin: 0 auto;
}

.column-groups h2{
    text-align:center;
}




.slide-home .slider-caption{
    /* height: 22em;
    bottom: -40em;
    position: absolute; */
    height:23em;
    position: inherit !important;
    margin: 0 auto !important;
    width: 28em !important;
    margin-left: 0 !important;
    top: 11.5em !important;
    flex-direction: column;
    justify-content: center;
    display:flex;

}

.slide-home .btn{
    width: 58%;
    margin: 0 auto !important;
    margin-top: 2.5em !important;

}

.slide-home .swiper-slide{
    display: flex !important;
    flex-direction: column-reverse !important;
}

.slide-home .slides img {
    height: 16em;
}

.slide-home .with-btn{
    top: 10em !important;
}


}




/* tablet */
@media only screen and (min-width:768px) and (max-width:1098px){


.image-with-text-home .feature-row__image,.image-with-text-home .feature-row__text--inner{
margin: 0 auto !important;
}

.rte {
    width: 61vw !important;
}

.col-md-6{
max-width:76% !important;
}

.grid--blog .index-blog-item--wrapper:nth-child(1), .grid--blog .index-blog-item--wrapper:nth-child(3){
    visibility: hidden !important;
}

.blog-home{
    margin-top:19em !important;
}

#newsletter_section_form div{
    flex-direction: row !important;
}

#shopify-section-footer .row, .footer .sm-icons{
    align-items: center !important;
    flex-direction: column !important;
}

.text-image-column .feature-row{
    align-items: center !important;
    
}

#theapplicantmanager{
    width: 61vw;
    margin: 0 auto;
    padding-top: 2em;
}

.join-team .image-text-block-row__text-container{
    padding-top:5.5em !important;
    padding-bottom:5.5em !important;
}

#customer-login{
    max-width:auto !important;
    margin: auto !important;
    margin-left: auto !important;
}

#create-customer form, #account form{
    width: auto !important;
}

.left-logo {
    left: 28% !important;
}


.right-logo {
    right: 28% !important;
}

.blog-title-wrapper , .entry-content{
    width: 23vw !important;

}

.article-image img {
    width: 100% !important;
    height: 12em !important;
}

.entry-content {
    width: 68vw !important;
}

.article--main-body.article-image-present{
    margin: 0 auto !important;
}

.about-sides .col-md-7{
    flex: initial;
    max-width: inherit;
}

.about-sides .rte{
    width: 77vw !important;
}

.feature-row__text--inner .sidesdiv{
    width: auto !important;
}



#product-box{
    justify-content:center !important;
}

.image-text-block-row__text-container div{
    display:flex !important;
    justify-content:center !important;
    flex-direction:column !important;
}


.image-text-block-row__text-container  .btn{
    width: fit-content;
    margin: 0 auto;
    margin-top: 3em;
}

.grid--blog{
    flex-direction:column !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-home .article--background-image {
    width: auto !important;
}

.home-blog-excerpt{
    width: 50vw !important;
}

.blog-home .blog--read-more {
    margin-bottom: 4em;
}

.index-blog-item--wrapper{
    max-width:50% !important;
}

.blog-home .blog-title-wrapper{
    width: 41vw !important;
}

}


@media only screen and (min-width: 1098px) and (max-width: 1250px){
    .slides img {
        height: 54vh !important;
    }

}