/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/



/* navigation & header */

.header-content--top-bar .header-link{
    font-family: var(--font-family-bold);
}

.header-row .header-link, .header-row .nav-label, .dropdown-menu .dropdown-submenu__link{
    font-family: var(--font-family-body);
    font-weight:500;
}

header span{
    font-size:1.2em !important;
}

.notification-bar__message p{
    font-family: var(--font-family-bold);
    text-transform:uppercase;
}

.header-wrapper .header-content{
    padding-top:0;
}

.header-wrapper .header-content--top-bar{
    padding-top:.8em;
}

/* button styles */

.btn{
    font-family: var(--font-family-regular) !important;
    
}

/* slideshow section */

.slider-caption{
    width:65%;
}

.slides img{
    height:80vh;
}

.slider-subheader{
    font-weight: 500 !important;
    font-size: 1.35em !important;
    margin-top:.9em !important;
}


/* image with text block section */

.subheading-new , .crafter-font, .grid-title{
    font-family:var(--font-family-regular);
    text-transform:inherit;
    font-size: 1.05em;
}

.type-subheading {
    text-transform:inherit;
}


/* blog section homepage */

.home-blog-excerpt, .blog-title-wrapper h3{
    text-align:center;
}

.blog-title-wrapper a{
    font-family:var(--font-family-regular);
    text-transform:inherit;
    font-size: 1.2em;
}

.blog-title-wrapper{
    margin-top:2.4em;
}

/* logo section */

.logo-bar{
    display: flex;
    justify-content: space-between;
}    

.logo-body{
    width:100%;
    margin:0 auto;
}

.logo-portion{
    max-width:22em;
}

.title-bar h3.typography--padding-bottom{
    width: 96%;
    margin: 0 auto;
}

.featured-logos .title-bar h2{
padding:2em 0 !important;
}


/* image grid section */
.image-grid p{
    text-align:center;
}

.grid-title{
    margin-top:1.5em;
}


/* footer */

.footer .rte, .footer .type-subheading{
font-size:.93em !important;
}
.footer__block-type--menu{
    display: flex;
    justify-content: center;
}

.footer__block-type--logo h3, .footer__block-type--logo p{
    text-align:center;
}

.footer .image-bar__content{
    margin: 0 auto;
    margin-bottom:1.5em;
}



/* collection picker */

.row {
    
    margin-right: -55px;
    margin-left: -55px;
}

.homepage-sections-wrapper {
    padding: 65px 0 !important;
}


@media only screen and (min-width: 768px) {
    .feature-row__text--inner{
        margin-right: 5em;
    }

}



/* newsletter block */

#newsletter_section_form div{
    align-items: baseline;
}

.newsletter__item{
    margin: 0 auto;
}


/* image with text section */

.feature-row__image{
    position:relative;
}

.img-logo{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 43%);
    width: 4em;
}
.feature-row__image{
    height:27em;
}

.image-with-text-home{
    padding: 11em 0 !important;
}

/* instagram feed */

#insta-feed{
padding: 3em 0;
}

#insta-feed h2 {
    margin-bottom: 4em !important;
}

/* events calendar */

.tscBrand{
    display:none !important;
}

.d-inline{
    font-size:17px;
}

/* image column section */

.image-columns .feature-row{
    flex-direction: column-reverse;
}

.image-columns .feature-row__text--inner, .image-columns h2{
    margin: 0 auto;
    text-align: center;
}


.flickity-prev-next-button.previous{
    left:-50px !important;
  }
  .flickity-prev-next-button.next{
    right:-50px !important;
  }



/* tablet */
@media only screen and (min-width: 796px) and (max-width: 1250px){

    .slides img {
        height: 35vh;
    }

    .flickity-prev-next-button.previous {
        left: -15px !important;
    }

    .flickity-prev-next-button.next {
        right: -15px !important;
    }

}

/* mobile */

@media only screen and (max-width: 797px){
    .slider-caption {
        width: 54%;
        margin: 0 auto;
    }

    .slides img {
        height: 16em;
    }

    .flickity-prev-next-button.next {
        right: -15px !important;
    }

    .flickity-prev-next-button.previous {
        left: -15px !important;
    }

    .title-bar h3.typography--padding-bottom {
        width: 65%;
        
    }

    .homepage-collection-grid-inner{
        width: 19em;
    margin: 0 auto;

    }

    .indiv-collection-grid-homepage{
        margin:3em;
    }

    .image-with-text-home, .blog-home{
        padding:6em 3em !important;
    }

    .home-blog-excerpt{
        padding:0em 3em !important;
    }


    .image-with-text-home .feature-row__text--inner{
        padding-top:4em;
    }

    .image-with-text-home h2, .image-with-text-home p{
        text-align:center;
       
    }

    .logo-bar{
        flex-direction: column;
        align-items: center;
    }

    .logo-body {
        width: 90%;
    }

    .logo-portion{
        margin-bottom:5em;
    }

    .logo-btn{
        margin-top:1em !important;
    }

    .title-bar h3.typography--padding-bottom {
        width: 97%;
    }

}